body {
	background: #efeaea;

}

.todo-text{
	padding: 20px 40px;
	border-bottom: 3px solid black;
	background: transparent;
}

.wrapper{
	max-width: 1100px;
	width: 35%;
 	margin: 0 auto;
}

.secondary-wrapper {
	/*height: 100%;*/
	background: rgba(252,252,252);
	box-shadow: 0px 0px 5px 5px #888888;
}

.footer{
	background: rgba(252,252,252);
	box-shadow: 0px 0px 5px 5px #888888;
	padding: 25px;


}

h1{
	/*margin-top: 3em;*/
	font-weight: 500;
	font-size: 4em;
	text-align: center;
	color: rgba(175,47,47,0.15)
}
.checkedid{
	text-decoration: line-through;
	color: #666;
}

li {
	padding-bottom: 1em;
	border-bottom: 1px solid grey;
	width: 100%;
	list-style: none;

}

ul {
	-webkit-padding-start: 0px;
}
.todo-text {
	margin-top: 15px;
	border: none;
	width: 82%;
	outline: none;
	border-bottom: 2px solid grey;

}

.delete{
	float: right;
	margin-top: 1.5em;
	margin-right: 1em;
	background: transparent;
	border: none;
	cursor: pointer;
	/*display: none;*/
}
.delete:hover {
	display: block;
}

.todo-mvc {
	margin: 0;
}
input[type=checkbox] {
	height: 15px;
	width: 15px;
	margin-top: 20px;
}

.style_active{
	padding: 5px;
	border-radius: 5px;
	margin: 7px;

}

.style_active:hover{
	border: 1px solid rgba(175,47,47);
	cursor: pointer;
}
.anchor{
	color: #222;
	text-decoration: none;
}
.anchor:hover{
	text-decoration: underline;
}
.border{
	border: 1px solid transparent;
}


.style_completed{
	padding: 5px;
	border-radius: 5px;
	margin: 7px;
	}

.style_completed:hover{
	border: 1px solid rgba(175,47,47);
	cursor: pointer;
}

.style_all{
	padding: 4px;
	border-radius: 5px;
	margin: 7px;
	border: 1px solid rgba(175,47,47,0.15);
}

.style_all:hover{
	border: 1px solid rgba(175,47,47);
	cursor: pointer;
}



