html, body, div, span, applet, object, iframe,blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	width: 60%;
	margin: 0 auto;
}

.paragraph{
	height: 100px;
	width: 100px;
	background: red;
}


.main-container{
	display: grid;
	grid-template-columns: repeat(4, 180px);
}

.box{
  /*transform: rotate(45deg);*/
	border: 2px solid white;
	text-align: center;
	height: 130px;
 /*background-image: radial-gradient(circle, red, yellow, green);*/
	background: url('./img/hex.jpg') no-repeat;
	background-size: cover;
	color: white;
	font-weight: 600;

	  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);

}

.box:active {
  transform: scale(0.97);
  transition: transform .2s;
  transform: rotate(180deg);
}
h1{
	text-align: center;
	font-size: 40px;
}

.box i {
	display: none;
}
.fab{
	font-size: 5em;
	margin-top: 0.2em;

}
.fas{
	font-size: 6em;
	margin-top: 0.3em;


}

.unhide i {
  display: inline-block;
  transition-duration: 10s; 
}

.contain{
	font-size: 30px;
	margin-left: 4em;
	margin-top: 0;
}